### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
start = 1
end = 10
for i in range(start,end+1):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word = "umbrella"
vowels = ["a","e","i","o","u"]
for letter in word:
  for i in vowels:
    if letter == i:
      print(letter)

u
e
a

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
#Ex3

word = "umbrella"
for i in range(len(word)-1, 0 ,-1):
  print(word[i])

a
l
l
e
r
b
m

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
#Ex4
a = [1, 2, 3, 4]
i = 0
for i in range(0,len(a)):
  if a[i]%2 == 1:
    print(a[i],"is an odd number")
  else:
    print(a[i],"is not an odd number")

1 is an odd number
2 is not an odd number
3 is an odd number
4 is not an odd number

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
#Ex5
a = [100,200,300,400,500]
for i in range (0, len(a)):
  print("grade number ",i+1,"is ",a[i])

grade number  1 is  100
grade number  2 is  200
grade number  3 is  300
grade number  4 is  400
grade number  5 is  500

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [13]:
#Ex6
i = 0

a = ["word", "happy", "memory", "dog"]
for i in range(0,len(a)):
  print(a[i])
  print(len(a[i]))

word
4
happy
5
memory
6
dog
3

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [21]:
#Ex7
i = 0
num = [-1,0,-100,1, 100]
for i in range(0,len(num)-1):
  if num[i] < 0:
    print(num[i])

-1
-100

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [4]:
#Ex8
c = [10,20,30,40]
for i in range(0,len(c)):
  c[i] = c[i]*9/5+32
  print(c[i])

50.0
68.0
86.0
104.0

9. **Name Initials:** For a list of full names, print the initials of each name.

In [7]:
#Ex9
f = ["Ottmar Hung","Jackson Chen","Samuel Wang"]
for i in range(0,len(f)):
  print(" ")
  for m in f[i]:
    if m.isupper() == True:
      print(m)

O
H

J
C

S
W

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [18]:
#Ex10
sum = 0
start = 1
end = 100
starti = start
endi = end

for i in range(starti, endi):
  if end>=start:
    sum = sum + start + end
    start +=1
    end -= 1
    print(sum)

102
204
306
408
510
612
714
816
918
1020
1122
1224
1326
1428
1530
1632
1734
1836
1938
2040
2142
2244
2346
2448
2550
2652
2754
2856
2958
3060
3162
3264
3366
3468
3570
3672
3774
3876
3978
4080
4182
4284
4386
4488
4590
4692
4794
4896
4998
5100
5202